body{
    background-color: aqua;
}

div.flex_container{
    display: flex;
    flex-direction: row; /* Default */
    flex-wrap: nowrap;
    flex-flow: center;
    justify-content: center;
    /* Default - All flex items will be on one line. */
    height: 100px;
    width: 100%;
    background-color: rgb(240, 95, 240);
}

div.flex_child{

    background-color: rgb(243, 180, 62);
    
}